<a href="https://colab.research.google.com/github/joe052/machine-learn/blob/main/intelCaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
from google.colab import files
uploaded = files.upload()

Saving data.xlsx to data (1).xlsx

In [6]:
df = pd.read_excel('data.xlsx')

In [7]:
df.head()

,ConstCom,TimelyInf,TaskMgm,DeviceSt,Wellness,Athlete,Style,AmznP,Female,Degree,Income,Age
0,3,2,3,3,2,3,3,1,1,1,2,38
1,6,6,6,6,5,3,1,1,0,2,3,38
2,7,4,4,4,6,4,1,0,0,1,3,42
3,7,5,4,5,5,4,4,1,0,2,5,35
4,7,4,2,6,3,2,4,1,0,1,3,36

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ConstCom   1000 non-null   int64
 1   TimelyInf  1000 non-null   int64
 2   TaskMgm    1000 non-null   int64
 3   DeviceSt   1000 non-null   int64
 4   Wellness   1000 non-null   int64
 5   Athlete    1000 non-null   int64
 6   Style      1000 non-null   int64
 7   AmznP      1000 non-null   int64
 8   Female     1000 non-null   int64
 9   Degree     1000 non-null   int64
 10  Income     1000 non-null   int64
 11  Age        1000 non-null   int64
dtypes: int64(12)
memory usage: 93.9 KB

In [12]:
(df['Female'] == 1).sum()
# (df['Female'] == 0).sum()

566

In [14]:
df[df['Age'] == df['Age'].max()]
df[df['Age'] == df['Age'].min()]

,ConstCom,TimelyInf,TaskMgm,DeviceSt,Wellness,Athlete,Style,AmznP,Female,Degree,Income,Age
52,5,7,3,6,5,6,4,0,1,2,2,24
79,5,5,2,4,5,7,4,0,1,2,3,24
378,4,4,2,4,5,6,4,1,1,1,3,24
440,7,4,5,6,5,7,4,1,1,1,4,24
475,4,5,2,7,5,6,6,1,0,2,5,24
593,2,3,2,5,5,6,6,0,0,1,4,24
768,6,4,3,7,5,6,4,0,1,1,4,24
770,5,7,4,6,5,6,4,1,1,1,5,24
802,5,5,5,3,6,5,4,1,1,1,2,24
859,5,4,5,4,4,5,4,1,0,1,2,24
862,6,5,5,4,4,4,5,0,1,1,2,24
869,3,2,5,3,5,5,5,1,1,1,2,24
992,7,3,7,3,5,5,5,1,0,1,4,24

In [15]:
df['Age'].mean()

35.515

In [16]:
(df['Degree'] == 1).sum()

668

In [18]:
df['Athlete'].value_counts().idxmax()

4

In [19]:
df['Income'].value_counts().idxmax()

3

In [ ]:
df['Income'].mean()

In [23]:
df[df['Income'] == df['Income'].min()]

,ConstCom,TimelyInf,TaskMgm,DeviceSt,Wellness,Athlete,Style,AmznP,Female,Degree,Income,Age
17,5,4,5,1,2,1,4,0,0,1,1,32
19,4,5,4,1,2,4,4,0,0,1,1,32
21,3,3,6,2,5,5,4,0,0,1,1,41
22,5,2,6,2,5,5,3,0,1,1,1,45
34,6,3,3,3,5,6,4,0,0,1,1,35
49,5,4,6,2,5,5,4,0,1,1,1,36
68,3,5,5,3,1,2,4,0,1,1,1,41
71,6,5,5,1,4,4,4,0,1,1,1,35
86,5,4,6,2,3,2,3,1,1,1,1,44
87,4,3,3,1,4,4,4,1,1,1,1,43
88,3,3,3,4,1,1,4,0,1,1,1,37
143,3,3,3,4,3,4,4,1,1,2,1,42
146,4,3,3,4,1,2,4,0,1,1,1,40
147,3,3,3,4,2,3,4,0,1,1,1,43
148,4,4,3,4,3,3,4,0,1,2,1,45
150,5,4,3,3,5,4,3,0,1,1,1,41
151,4,7,3,5,4,3,4,1,1,2,1,39
153,4,4,3,2,3,3,3,0,1,1,1,39
156,6,7,3,4,5,3,4,0,1,1,1,41
158,3,3,1,4,7,5,4,1,1,1,1,40
165,5,2,3,3,4,3,4,1,1,1,1,35
168,5,2,3,2,4,4,3,1,1,1,1,35
169,3,3,4,4,2,2,4,0,1,1,1,42
170,4,5,3,4,3,2,4,0,1,1,1,43
171,6,2,3,4,6,4,5,0,1,1,1,40
173,5,5,3,1,2,1,4,1,1,1,1,40
174,6,5,3,4,4,2,3,1,1,2,1,40
175,3,4,3,5,2,3,3,1,1,2,1,40
177,7,1,3,3,5,4,5,0,1,2,1,40
178,2,1,4,3,3,3,3,0,1,1,1,43
179,5,5,1,1,3,4,3,0,1,1,1,39
183,1,3,3,4,2,3,3,0,1,1,1,46
184,1,3,3,2,4,4,3,1,1,2,1,34
187,6,5,3,2,4,3,4,1,1,1,1,34
190,6,1,4,3,4,5,3,1,1,1,1,35
191,6,4,3,3,3,3,4,0,1,2,1,41
249,5,5,3,3,3,3,4,0,1,1,1,46
272,4,5,2,3,2,2,4,0,1,1,1,42
291,6,5,6,4,4,5,5,0,1,1,1,31
409,3,3,2,7,5,7,4,1,0,1,1,28
455,4,3,3,1,4,4,4,0,1,1,1,42
461,3,2,1,1,1,3,3,1,1,1,1,43
510,1,1,3,1,3,4,3,0,0,1,1,39
544,5,4,3,2,3,3,4,0,1,1,1,39
548,2,3,3,1,3,3,4,0,0,1,1,43
612,5,5,3,3,3,2,3,0,1,1,1,40
739,5,5,3,2,3,2,4,0,0,1,1,40
845,3,3,2,6,5,7,6,1,1,1,1,25
966,6,5,5,4,6,5,4,1,1,2,1,31
978,5,4,4,3,6,5,4,1,1,1,1,40
983,2,4,3,2,3,3,4,1,1,2,1,41
998,1,1,4,3,2,4,3,1,0,1,1,39

In [24]:
df['Style'].mean()

4.299

In [25]:
(df['AmznP'] == 1).sum()

564